.header {
  display: flex;
  background-color: #802D25;
}

.header__tel {
  @include montsReg;
  display: none;

  @media (min-width: $desktop-width) {
    display: block;
    font-size: 26px;
    line-height: 26px;
    align-self: center;
    color: #ffffff;
    width: 28%;
  }
}
