.nav {
  margin: 10px 0 10px 10px;
}

.nav__list {
  @include montsReg;
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 22px;
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
}

.nav--closed .nav__toggle {
  position: relative;
  background-color: #802d25;
  border: 0;
  width: 25px;
  height: 25px;

  &::before {
    content: "";
    position: absolute;
    background-image: url(../img/svg/menu-button.svg);
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.nav--opened .nav__toggle {
  position: relative;
  background-color: #802d25;
  border: 0;
  width: 25px;
  height: 25px;

  &::before {
    content: "";
    position: absolute;
    background-image: url(../img/svg/menu-button.svg);
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}


@media (max-width: $tablet-width - 1px) {
  .nav--closed .nav__list {
    display: none;
  }
}
