.nav {
  margin: 10px 0 10px 10px;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.nav__list {
  @include montsReg;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
  position: absolute;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 22px;
  list-style: none;
  margin: 10px 0 0 -10px;
  padding: 0;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    position: relative;
    background-color: transparent;
    padding: 0 0 0 172px;
    margin: 0;
    box-sizing: border-box;
    width: 98%;
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    padding: 0 0 0 35%;
    width: 60%;
    font-size: 18px;
    line-height: 22px;
    box-sizing: unset;
  }

  @media (min-width: 1800px) {
    font-size: 22px;
  }
}

.nav__item {

  @media (min-width: $tablet-width) {
    padding-right: 25px;
    width: 25%;
  }
}

.nav--closed .nav__toggle {
  position: relative;
  background-color: #802d25;
  border: 0;
  width: 25px;
  height: 25px;

  &::before {
    content: "";
    position: absolute;
    background-image: url(../img/svg/menu-button.svg);
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.nav--opened .nav__toggle {
  position: relative;
  background-color: #802d25;
  border: 0;
  width: 25px;
  height: 25px;

  &::before {
    content: "";
    position: absolute;
    background-image: url(../img/svg/menu-button.svg);
    width: 25px;
    height: 25px;
    top: 0;
    left: 0;
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}


@media (max-width: $tablet-width - 1px) {
  .nav--closed .nav__list {
    display: none;
  }
}

.nav__item-link {
  display: block;
  padding: 18px 0;
  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet-width) {
    border: 0;
    text-transform: initial;
    color: #ffffff;
  }
}
