.stocks {
  background-color: #FCC522;
}

.stocks__title {
  @include montsBlack;
  font-size: 25px;
  line-height: 30px;
  color: #ffffff;
  margin: 0;
  text-align: center;
}

.stocks__condition {
  @include montsBlack;
  font-size: 30px;
  line-height: 34px;
  color: #ffffff;
  margin: 0;
  text-align: center;
}

.stocks__desc {
  @include montsReg;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
  margin: 0;
  text-align: center;
}

.stocks__donut-img--pink {
  left: 92px;
  top: 51px;
  position: absolute;
  left: 65%;
  margin-right: -50%;
  transform: translate(-50%,0);
}

.stocks__donut-img--yellow {
  top: 123px;
  position: absolute;
  transform: rotate(63deg);
  position: absolute;
  left: 2%;
}

.stocks__wrapper-img {
  position: relative;
  height: 300px;
  width: 320px;
  margin: 0 auto;
}
