@mixin montsReg() {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 400;
}

@mixin montsMed() {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 500;
}

@mixin montsBlack() {
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 900;
}

@mixin pacifico() {
  font-family: "Pacifico", "Arial", sans-serif;
  font-weight: 400;
}

@mixin fontStyle($font-size: 14px, $line-height: 1.5, $color: #111111) {
  font-size: $font-size;
  line-height: $line-height;
  color: $color;
}
